".text.html.php":
	"beans add attribute":
		"prefix": "beans_add_attribute"
		"body": """beans_add_attribute( '${1:markup_id}', '${2:class}', '${3:your-class}' );
		$4"""

	"beans remove attribute":
		"prefix": "beans_remove_attribute"
		"body": """beans_remove_attribute( '${1:markup_id}', '${2:class}', '${3:your-class}' );
		$4"""

	"beans replace attribute":
		"prefix": "beans_replace_attribute"
		"body": """beans_replace_attribute( '${1:markup_id}', '${2:class}', '${3:your-class}' );
		$4"""

	"beans remove action":
		"prefix": "beans_remove_action"
		"body": """beans_remove_action( '${1:markup_id}' );
		$2"""

	"beans remove markup":
		"prefix": "beans_remove_markup"
		"body": """beans_remove_markup( '${1:markup_id}' );
		$2"""

	"beans modify action":
		"prefix": "beans_modify_action_hook"
		"body": """beans_modify_action_hook( '${1:markup_id_after_markup}' );
		$2"""

	"beans set layout":
		"prefix": "beans_set_layout"
		"body": """beans_add_filter( 'beans_default_layout', '${1:c-sp-ss}' );
		$2"""

	"beans load document":
		"prefix": "beans_load"
		"body": """// Load Beans
		beans_load_document();"""


	"beans enqueue uikit":
		"prefix": "beans_enque_uikit"
		"body": """// Include the needed uikit components
		add_action( 'beans_uikit_enqueue_scripts', '${1:function_name}' );

		function ${1:function_name}() {

		  ${2:beans_uikit_enqueue_components( array( '${3:core_component}' ) );}
		  ${4:beans_uikit_enqueue_components( array( '${5:addon_component}' ), 'add-ons' );}

		}

		$6"""

	"beans show uikit":
		"prefix": "beans_show_uikit"
		"body": """// Show loaded UIkit components
		add_action( 'wp_enqueue_scripts', 'print_uikit_array' );
		function print_uikit_array() {
		  global $_beans_uikit_enqueued_items;

		  print '<pre>';
		  print_r( $_beans_uikit_enqueued_items );
		  print '</pre>';

		}

		$1"""


	"beans add markup":
		"prefix": "beans_add_markup"
		"body": """// ${1:Enter comment}
		beans_add_action( '${2:markup_id_after_markup}', '${3:function_name}' );
		function ${3:function_name}(${4}) { ?>

			${5}

		<? }

		$6"""

	"beans register widget area":
		"prefix": "beans_register_widgetarea"
		"body": """// ${1:Register the bottom widget area}
		beans_add_action( 'widgets_init', '${2:function_name}' );

		function ${2:function_name}() {

			beans_register_widget_area( array(
				'name' => '${3:Bottom}',
				'id' => '${4:Bottom}',
				'description' => '${5:Widgets in this area will be shown in the bottom section as a grid.}',
				'beans_type' => '${6:grid}'
			) );

		}

		$7"""


	"beans output widget area":
		"prefix": "beans_output_widgetarea"
		"body": """// ${1:Output the bottom widget area}
		beans_add_action( '${2:beans_main_after_markup}', '${3:function_name}' );

		function ${3:function_name}() {

			echo beans_widget_area( '${3:bottom}' );

		}

		$7"""


	"beans register and output widget area":
		"prefix": "beans_new_widgetarea"
		"body": """// ${1:Register the bottom widget area}
		beans_add_action( 'widgets_init', '${2:function_name}' );

		function ${2:function_name}() {

			beans_register_widget_area( array(
				'name' => '${3:Bottom}',
				'id' => '${4:Bottom}',
				'description' => '${5:Widgets in this area will be shown in the bottom section as a grid.}',
				'beans_type' => '${6:grid}'
			) );

		}

		// ${7:Output the bottom widget area}
		beans_add_action( '${8:beans_main_after_markup}', '${9:function_name}' );

		function ${9:function_name}() {

			echo beans_widget_area( '${4:Bottom}' );

		}

		$7"""

	"beans adjust grid":
		"prefix": "beans_adjust_grid"
		"body": """// ${1:Adjust the grid}
		add_filter( 'beans_layout_grid_settings', '${2:function_name}' );
		function ${2:function_name}( $args ) {

		    return array_merge( $args, array(
		        'grid' => ${3:10},
				'sidebar_primary' => ${4:2},
		        ${5:'sidebar_secondary' => ${6:2} }
		    ) );

		}

		$7"""
